<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
	  rel="stylesheet" 
	  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
	  crossorigin="anonymous">
<meta charset="UTF-8">
<title>부서정보조회</title>
</head>
<body>
<div class="container">
	<h1>부서정보 조회</h1>
	<div>
		<div class="mb-3">
			<label for="dId">부서번호</label> 
			<input class="form-control" type="text" id="dId"
				th:value="${deptInfo.departmentId}" disabled readonly>
		</div>
		<div class="mb-3">
			<label for="dname">부서이름</label> 
			<input class="form-control" type="text" id="dname"
				th:value="${deptInfo.departmentName}" disabled readonly>
		</div>
		<div class="mb-3">
			<label for="mId">상사번호</label> 
			<input class="form-control" type="number" id="mId"
				th:value="${deptInfo.managerId}" disabled readonly>
		</div>
		<div class="mb-3">
			<label for="locId">부서지역번호</label> 
			<input class="form-control" type="number" id="locId"
				th:value="${deptInfo.locationId}" disabled readonly>
		</div>
		<div>
			<button type="button"
				th:onclick="|location.href='@{/deptUpdate(departmentId=${deptInfo.departmentId})}'|">수정</button>
			<button type="button" th:onclick="|location.href='@{/deptList}'|">목록으로</button>
			<button type="button"
				th:onclick="|location.href='@{/deptDelete(departmentId=${deptInfo.departmentId})}'|">삭제</button>
		</div>
	</div>
</div>
</body>
</html>